{% extends 'base.html' %}

{% block conteudo %}

<h1 class="mt-5">Calculadora Downlink Throughput - LTE Advanced</h1>

<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <br>
    <div class="form-group">

        <h4>
            <label>Largura de Banda (BW)</label> <br>
        </h4>
        
        <select name="BW" id="largura_banda">
            <option value=1.4> 1.4 Mhz </option>
            <option value=3> 3 Mhz </option>
            <option value=5> 5 Mhz </option>
            <option value=10> 10 Mhz </option>
            <option value=15> 15 Mhz </option>
            <option value=20> 20 Mhz </option>
        </select>

    </div>

    <div class="form-group">

        <h4>     
            <label>Prefixo Ciclico (CP)</label>
        </h4>

        <select name="CP" id="cp">

            <option value=7>Normal</option>
            <option value=6>Extendido</option>
        </select>

    </div>
    
    <div class="form-group">

        <h4>
            <label>MCS</label>
        </h4>

        <select name="MCS" id="mcs">

            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>

        </select>

    </div>

    <div class="form-group">

        <h4>
            <label>MIMO</label>
        </h4>

        <select name="MIMO" id="mimo">
            <option value=1>1x1</option>
            <option value=4>4x4</option>
            <option value=8>8x8</option>
        </select>

    </div>

    <div class="form-group">

        <h4>
            <label>Carrier Aggregation (CA)</label>
        </h4>
        
        <select name="CA" id="ca">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>

    </div>
    <!-- Quando o submit é acionado via evendo de botão, esse formulário é enviado, usando o método POST     -->
    <button type="submit" class="btn btn-success">
        Calcular
    </button>
    

</form>


{% endblock %}